/* view on mobile */
@media (min-width: 375px) {
   
}

/* View on desktop */
@media (min-width: 1440px) {
    
}

body {
    color: hsl(240, 38%, 20%);
    font-family: 'Inter', sans-serif;
}

.main {
    width: 70%;
    margin: 100px;
    background-color: white;
    height: 75vh;
}

#quotes {
    position: relative;
    bottom: 110px;
    left: 150px;
    width: 80px;
}

#pattern-bg {
    position: relative;
    bottom: -20px;
    right: 50px;
    width: 430px;
}

.slide-one {
    width: 43%;
}

.test-text {
    font-weight: 300;
    font-size: 20px;
    position: relative;
    bottom: 300px;
    left: 100px;

}

.author{
    position: relative;
    bottom: 270px;
    left: 100px;
    font-weight: 700;
    font-size: 16px;
}

#pattern-curve {
    position: relative;
    top: 220px;
    right: 80px;
    width: 400px;
}

.slide-image {
    box-shadow: 25px 0px rgba(109, 60, 109, 0.070);
    width: 335px;
    position: relative;
    left: 500px;
    bottom: 556px;
}
#tanya {
    width: 335px;
    position: relative;
    left: 10px;
    bottom: 5px;
    border-radius: 5px;
    z-index: 1;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}